<section class="dashboard">
  <header class="dashboard-header">
    <app-breadcrumb
      [label]="breadcrumbLabel()"
      [showDashboardCrumb]="true"
      [disableDashboard]="true"
      dashboardTooltip=""
    ></app-breadcrumb>
  </header>

  <ng-container *ngIf="!loading(); else loadingTpl">
    <app-learning-companion *ngIf="viewMode() === 'kid'"></app-learning-companion>

    <div *ngIf="viewMode() === 'adult'">
      <div class="tab-body tab-card">
        <div class="tab-header">
          <button
            *ngFor="let tab of adultTabs()"
            class="tab-btn"
            type="button"
            [class.active]="activeAdultTab() === tab.id"
            (click)="setAdultTab(tab.id)"
          >
            {{ tab.label }}
          </button>
        </div>
        <app-teachers *ngIf="activeAdultTab() === 'teacher'"></app-teachers>
        <app-parents *ngIf="activeAdultTab() === 'parent'"></app-parents>
        <app-learning-companion
          *ngIf="activeAdultTab() === 'learning'"
        ></app-learning-companion>
      </div>
    </div>
  </ng-container>

  <ng-template #loadingTpl>
    <div class="adult-card">
      <p>Loading dashboard...</p>
    </div>
  </ng-template>
</section>
